*{
    padding: 5px;
    margin: 0%;
    box-sizing: border-box;
}

body{
    height: 32rem;
    width: 100%;
    background-image: linear-gradient(rgb(7, 16, 94),  rgb(194, 50, 182), rgb(121, 8, 111));
}

h4{
    color:white;
    align-items: flex-end;
}

header{
    color: #fff;
}

header h2{
    display:contents;
    align-items: center;
    justify-content: space-around;
    color:rgba(205, 191, 231, 0.5); 
}

